* {
   margin: 0px;
   padding: 0px;
}

#verde {
    margin-bottom: 15px;
    color: green;
}
#vermelho {
    padding: 3px;
    background-color: red;
    display: inline-block;
}
#amarelo {
    padding: 3px;
    color: white;
    background-color: orange;
    display: inline-block;
}
#azul {
    margin-top: 4px;
    background-color: blue;
}