@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

h1 {
    color: rgb(140, 35, 201);
}

h1 > a {
    color: rgb(140, 35, 201);
}

h3 {
    color: rgb(35, 0, 56);
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.384);
}

header {
    background-color: rgb(39, 39, 39);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 10px;
}

main {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(56, 56, 56);
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}

a {
    color: rgb(62, 62, 62);
}

.mini {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 24, 24);
    padding: 10px;
    justify-content: center;
}

input {
    justify-self: end;
}

button {
    border-radius: 25px;
    background-color: rgb(182, 3, 182);
    color: rgb(219, 219, 219);
    padding: 7px 20px 7px 20px;
    cursor: pointer;
    border: 0.5px black solid;
    
}

button:hover {
    background-color: rgb(114, 0, 114);
}

#carrinho {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    box-shadow: none;
    border: none;
}

.carrinho {
    justify-self: end;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}

#sucesso {
    display: none;
    color: white;
    position: absolute;
    font-size: 24px;
    left: 47%;
}

@media screen and (max-device-width: 480px)
{
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 900px)
{
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-device-width: 901px)
{
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}